<script setup lang="ts">
import { useConfirmStore } from "../stores/confirm";

const confirm = useConfirmStore();
</script>
<template>
  <v-dialog v-model="confirm.isShow" persistent width="auto"
    ><v-card
      ><v-card-text class="text-center">Confirm Delete</v-card-text
      ><v-card-actions
        ><v-btn class="bg-green" @Click="confirm.isShow = false">Cancel</v-btn
        ><v-btn class="bg-red" @Click="confirm.Del(confirm.Id!)"
          >Confirm</v-btn
        ></v-card-actions
      ></v-card
    ></v-dialog
  >
</template>
